@inherits InformationComponentBase
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <i class="fas fa-paw title-icon"></i>
                    <p class="title-top">‌درباره ما</p>
                    <h2 class="section-title">
                        @if (!string.IsNullOrEmpty(aboutUs.Title))
                        {
                            @aboutUs.Title
                        }
                    </h2>
                </div>
                <p>
                    @if (!string.IsNullOrEmpty(aboutUs.Text))
                    {
                        @aboutUs.Text
                    }
                 
                </p>
            </div>
            <div class="col-md-6 position-relative">
                @if (!string.IsNullOrEmpty(aboutUs.Image))
                {
                    <img src="@aboutUs.Image" alt="About Us" class="img-fluid" />
                }              
               
            </div>
        </div>
    </div>
</section>
