<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <i class="fas fa-paw title-icon"></i>
                    <p class="title-top">‌درباره ما</p>
                    <h2 class="section-title">ما اهمیت میدهیم <br>در مورد حیوان خانگی شما</h2>
                </div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
                <a class="btn btn-primary mt-4">بیشتر بدانید</a>
            </div>
            <div class="col-md-6 position-relative">
                <img src="assets/img/about-us.png" alt="About Us" class="img-fluid" />
                <div class="exp-box">
                    <h3>15+</h3>
                    <p>سال <br>تجربه</p>
                </div>
            </div>
        </div>
    </div>
</section>
