@inherits WorksComponentBase

<div class="gallery-section">

    <div class="gallery-slider slider">

        @foreach (var project in Projects)
        {
            <div class="img-sec">
                <img src="@project.Image" class="img-fluid" alt="@project.Title" />
            </div>
        }         
      
    </div>
</div>