<div class="gallery-section">
    <div class="gallery-slider slider">
        <div class="img-sec">
            <img src="assets/img/gal-01.jpg" class="img-fluid" alt="Gallery" />
        </div>
        <div class="img-sec">
            <img src="assets/img/gal-02.jpg" class="img-fluid" alt="Gallery" />
        </div>
        <div class="img-sec">
            <img src="assets/img/gal-03.jpg" class="img-fluid" alt="Gallery" />
        </div>
        <div class="img-sec">
            <img src="assets/img/gal-04.jpg" class="img-fluid" alt="Gallery" />
        </div>
        <div class="img-sec">
            <img src="assets/img/gal-05.jpg" class="img-fluid" alt="Gallery" />
        </div>
    </div>
</div>