/* partial-loading.css */

.overlay {
    position: absolute;
    top: 7.7%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18315375; /* پس‌زمینه تاریک با رنگ و میزان شفافیت دلخواه */
    z-index: 9999; /* بالاترین لایه */
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* بالاتر از پس‌زمینه تاریک */
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
