<div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <ul class="d-flex justify-content-between align-items-center">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        شماره تماس : 090 98763456
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        آدرس : والز جنوبی 22, نیویورک
                    </li>
                </ul>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>دوشنبه - جمعه: 09:00 صبح تا 05:00 عصر</li>
                    <li>
                        <div class="form-group">
                            <select class="form-select form-control" id="exampleFormControlSelect1">
                                <option>انگلیسی</option>
                                <option>عربی</option>
                                <option>ترکی</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="index-2.html" class="navbar-brand logo">
                <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper ms-auto">
            <div class="menu-header">
                <a href="index-2.html" class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="active">
                    <a href="/">خانه</a>
                </li>              
                <li>
                    <a href="admin/index.html" >‌ خدمات و هزینه ها</a>
                </li>
                <li>
                    <a href="admin/index.html" >‌ نمونه کار ها</a>
                </li>
                <li>
                    <a href="/reservation_times">‌ زمان های رزرو نوبت</a>
                </li>
                <li>
                    <a href="/aboutus">‌ درباره ما</a>
                </li>
                <li>
                    <a href="/contactus">‌ تماس ما</a>
                </li>
                <li class="login-link">
                    <a href="/login">‌ورود / ثبت‌نام</a>
                </li>
            </ul>



        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item">
                <a class="nav-link header-login" href="login.html">‌ورود / ثبت‌نام</a>
            </li>
        </ul>
    </nav>
</header>
