@inherits QuilltextEditorBase
<style>
    .ql-editor {
        text-align: right;
    }

    .ql-toolbar.ql-snow {
        text-align: center;
    }
  
</style>

<h6>متن</h6>



<BlazoredTextEditor @ref="@QuillHtml" EditorCssStyle="height:300px;" >
    <ToolbarContent>
        @((MarkupString)toolbar)
    </ToolbarContent>
    <EditorContent>
        @((MarkupString)editorContent)
    </EditorContent>
</BlazoredTextEditor>
<MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Success" OnClick="ChangeText" Style="text-align:center">
    اعمال تغییرات
</MudButton>












