@page "/contactus"
@inherits ContactUsBase


<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">‌تماس با ما</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">‌تماس با ما</h2>
            </div>
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h3 class="mb-4">‌تماس با ما</h3>
                <p>
                    پزشک عالی اگر برای اعضای خانواده خود نیاز دارید تا از کمک های فوری ، معالجه اضطراری یا یک
                    مشاوره ساده استفاده کنید.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="contact-box w-100 d-flex flex-wrap">
                    <div class="infor-img">
                        <div class="image-circle">
                            <i class="feather-phone"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>شماره تماس</label>
                        <p>+152 534-468-854</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="contact-box w-100 d-flex flex-wrap">
                    <div class="infor-img">
                        <div class="image-circle bg-primary">
                            <i class="feather-mail"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>ایمیل</label>
                        <p>
                            <a href="https://template.doccure.io/cdn-cgi/l/email-protection" class="__cf_email__"
                               data-cfemail="83e0ecedf7e2e0f7c3e6fbe2eef3efe6ade0ecee">[email&#160;protected]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="contact-box w-100 d-flex flex-wrap">
                    <div class="infor-img">
                        <div class="image-circle">
                            <i class="feather-map-pin"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>آدرس</label>
                        <p>آزادراه شمال غربی ، هوستون ، ایالات متحده </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-form">
    <div class="container">
        <div class="section-header text-center">
            <h2>در تماس باشید</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>نام شما<span>*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ایمیل شما<span>*</span></label>
                                <input type="text" class="form-control form-email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>موضوع</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>نظر <span>*</span></label>
                                <textarea class="form-control">
</textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn bg-primary">ارسال پیام</button>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="contact-map d-flex">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3459.716346058072!2d-95.5565430855612!3d29.872453233633234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640cfe4516785ed%3A0x774974592a609121!2s54%20Northwest%20Fwy%20%23558%2C%20Houston%2C%20TX%2077040%2C%20USA!5e0!3m2!1sen!2sin!4v1631855334452!5m2!1sen!2sin"
            allowfullscreen="" loading="lazy"></iframe>
</section>
