@page "/login"
@page "/register"
@inherits LoginRegisterBase

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Register">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">

                            <div class="login-header">
                                <AuthorizeView>
                                    <Authorized>
                                        <p class="alert alert-success">
                                            ورود موفقیت آمیز
                                        </p>
                                    </Authorized>
                                    <NotAuthorized>

                                        @if (showError)
                                        {
                                            <p class="alert alert-danger">
                                               اطلاعات وارد شده صحیح نیست.
                                            </p>
                                        }                                     

                                    </NotAuthorized>
                                </AuthorizeView>
                                <h3> ورود </h3>
                            </div>


                            <EditForm OnValidSubmit="LoginUser"Model="userData">
                                <DataAnnotationsValidator/>
                                <ValidationSummary/>

                                <div class="form-group form-focus">
                                    <InputText @bind-Value="userData.Mobile" class="form-control floating" />
                                    <label class="focus-label">شماره موبایل </label>
                                </div>
                                <div class="form-group form-focus">
                                    <InputText @bind-Value="userData.Password" class="form-control floating" />
                                    <label class="focus-label"> رمزعبور </label>
                                </div>


                                <button class="btn btn-primary w-100 btn-lg login-btn"
                                        type="submit">
                                    ورود
                                </button>                      
                            </EditForm>                         

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
