<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title"> @Title </h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><NavLink href="@Url1">@Text1</NavLink></li>
                <li class="breadcrumb-item"><NavLink href="@Url2">@Text2</NavLink></li>
                <li class="breadcrumb-item active">   @Text3 </li>
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Text1 { get; set; } = "داشبورد";
    [Parameter]
    public string Url1 { get; set; } = "/";
    [Parameter]
    public string Text2 { get; set; }
    [Parameter]
    public string Url2 { get; set; } = "/";
    [Parameter]
    public string Text3 { get; set; }


}
