<!-- PartialLoading.razor -->
@if (isLoading)
{
    <div class="overlay">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool isLoading { get; set; }
}
